<!doctype html>
<style>
    :root{
    --main-background: #fffdfd;
    --secondary-background: #f8f8f8;
    --hover-background: #a3a3a3;

    --main-font: #15131c;
    --disabled-font: #777777;
    
    --main-border: #15131c;
    --secondary-border: #777777;


    --main-blue: #3b18f7;
    --main-green: #006e05;
    --secondary-green: #1d4821;

    }



    /* reset css */
    ::-moz-selection { /* Code for Firefox */
        background: rgb(202, 202, 202);
    }
    ::selection {
        background: rgb(174, 174, 174);
    }
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
    }
    html,body {
        margin:0;
        padding:0;
        font-family: 'Roboto Mono', monospace;

    }
    table {
        border-collapse:collapse;
        border-spacing:0;
    }
    fieldset,img { 
        border:0;
    }
    input{
        border:1px solid #b0b0b0;
        padding:3px 5px 4px;
        color:#979797;
        width:190px;
    }
    address,caption,cite,code,dfn,th,var {
        font-style:normal;
        font-weight:normal;
    }
    ol,ul {
        list-style:none;
    }
    caption,th {
        text-align:left;
    }
    h1,h2,h3,h4,h5,h6 {
        font-size:100%;
        font-weight:normal;
    }
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

.hidden {
        display: none;
    }
    /* end reset css */
/* ------------------------ */


    .content{
        width: 100%;
        /* top: 0; */

        /* display: flex;
        flex-wrap: wrap; */
        background-color: var(--main-background);
        /* width: 500px; */
    }
/* ------------------------ */
    .benchmark{
        /* text-align: center; */
        /* float: left; */
        /* background-color: var(--main-background); */
        /* position: fixed; */
        /* width: 50%; */
        /* right: 0; */
        padding-top: 30px;
        /* z-index: 1; */
        box-shadow: rgba(0, 0, 0, .1) 0px -10px 10px;
        min-width: 440px;

        /* padding: 20px; */
    }
    .local-player, .youtube-player {
        width: 50%;
        max-width: 400px;
        /* position: fixed; */
        /* left: 10px; */
        bottom: 5px;
        /* background-color: yellow; */
    }
    .youtube-player {
        /* padding-left: 420px; */
    }
    .benchmark-video {
        width: 50%;
    }
    .local-player video {
        width: 100%;
        min-height: 220px;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
    .youtube-player iframe {
        width:100%;
        /* height: calc(100vw/1.77); */
        aspect-ratio: 16 / 9;
    }

/* ------------------------ */




    .table {
        /* width: 60%;
        overflow: auto; */
        height: 100%;
        top: 0;
        right: 0;
        /* width: 100%; */
        background-color: #eeeeee;
        table-layout: auto;
        width: 100%;
        font-size: 1em;
        /* padding: 10px; */
        
    }
    .table table {
        table-layout: auto;
        width: 100%;
        /* padding: 10px; */
        /* border-spacing: 30px; */

    }
  
    .table-content th {
        text-align: center;
        padding: 8px;
        /* padding-left: 30px; */
        /* background-color: turquoise; */
        font-weight: bold;
    }
    .table-content th:last-child {
        padding-right: 10px;
    }
    .calc-button {
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .table-content th:first-child {
        padding-left: 12px;
    }
    .table-content thead tr th {
        background-color: var(--main-border);
        color: var(--main-background);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        position: sticky;
        top: 36px;
    }
    .table-content td {
        /* padding-left: 10px; */
    }
    .table-content tr:nth-child(2n+1) {
        background-color: var(--main-background);
        
    }
    .table-content tr {
        background-color: var(--secondary-background);
        border-bottom: 1px solid var(--main-border);
        height: 50px;
        /* margin: 20px; */
        /* box-shadow: inset 21px 4px 39px -50px rgba(0, 0, 0, 1); */
    }
    .table-id {
        /* background-color: white; */
        text-align: center;
        padding-left: 10px;
    }
    .table-repair, .table-health, .table-cycle, .table-level {
        text-align: center;
    }

    .navbar {
        background-color: var(--main-border);
        height: 38px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 11;
        
    }
    .navbar-list {
        display: flex;
    }
    .navbar-list li {
        /* border: 1px solid black; */
        padding: 8px;
        margin: 0 15px;
        color: var(--main-background);
        font-weight: bold;
    }



    .benchmark-forms {
        background-color: var(--main-background);
        color: var(--main-font);
        border: 1px solid var(--main-border);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        /* padding-top: 300px; */
        /* margin-top: 30px; */
        margin-bottom: 30px;
        padding: 15px 5px 22px;
        max-width: 400px;
        /* z-index: 1; */

    }
    .benchmark-forms form {
        width: 380px;
    }
    .benchmark-forms input {
        border: 1px solid var(--secondary-border);
        background-color: var(--main-background);
        border-radius: 6px;
        padding: 8px;
        margin: 0;
        width: 100%;
        font-size: 1em;
        color: var(--main-font);
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 12px;
        margin-top: 2px;
        transition: .1s;
    }
    .benchmark-forms input:hover {
        background-color: var(--secondary-background);
        transition: .1s;
        border-color: var(--main-border);

    }
    .benchmark-forms input:focus {
        border: 1px solid var(--main-border);
        border-radius: 6px;
        outline: none;
        transition: .1s;
        background-color: var(--secondary-background);
    }
    #Comment_input {
        font-size: 1em;
        height: 100%;
        padding: 8px;
    }

    .benchmark-forms input::placeholder {
        color: #777777;
    }
    .benchmark-radios input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
        user-select: none;
    }
    .benchmark-radios {
        margin-top: 2px;
        padding-bottom: 12px;
        /* user-select: none; */
    }
    .benchmark-radios label {
        user-select: none;
        background-color: var(--main-background);
        display: inline-block;
        text-align:center;
        padding: 8px 0;
        font-size: 1em;
        border: 1px solid var(--disabled-font);
        border-radius: 6px;
        color: var(--disabled-font);
        transition: .1s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .benchmark-radios label:nth-child(4) {
        margin: 0 2px;
    }
    .benchmark-radios input[type="radio"]:checked + label {
        /* color: var(--main-font);
        background-color: var(--secondary-background);
        border-color: var(--main-border); */

        color: var(--main-background);
        background-color: var(--main-border);
        border-color: var(--main-border);
    }
    .benchmark-radios input[type="radio"]:focus + label {

    }
    .benchmark-radios label:hover {
        cursor: pointer;
        color: var(--main-font);
        border-color: var(--main-border);

        background-color: var(--secondary-background);
    }
    .benchmark-radios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .benchmark-forms-label {
        /* padding-top: 20px; */
        /* z-index: 100; */
        /* padding-left: 4px; */
    }
  
   
    #start_button {
        /* border-radius: 0; */
        box-sizing: border-box;
        margin-top: 10px;
        font-size: 1.1em;
        color: var(--main-background);
        border: 1px solid var(--main-border);
        border-radius: 6px;
        padding: 14px 18px;
        background-color: var(--main-border);
        width: 100%;
        height: 52px;
        max-width: 400px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    #start_button:hover {
        background-color: var(--main-background);
        color: var(--main-font);
    }

/* ------------------------ */
    footer {
        /* background-color: turquoise; */
        height: 3em;
        /* position: fixed;
        bottom: 0;
        width: 100%; */
    }


/* ------------------------ */

/* table */
    .hidden_row {
            display: none;
        }
    .active {
        background-color: red !important;
        /* border: 3px solid black; */
    }


   
    @media only screen and (min-width: 992px) {
        /* @media only screen and (min-width: 1064px) { */

        .content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            height: 90vh;
        }
        .benchmark {
            /* background-color:yellowgreen; */
        }
        .table {
            margin-top: -39px;
            top: -10px;
            z-index: 11;
        }
        .navbar {
            /* width: 50%; */
            

        }
        .table {
            overflow: scroll;
            height: calc(100% + 39px);
            
        }
        .table-content tr {
        /* background-color: var(--secondary-background);
        border-bottom: 1px solid var(--main-border); */
        /* margin: 20px; */
        box-shadow: inset 21px 4px 39px -50px rgba(0, 0, 0, 1);
    }
        .table-content {
            /* background: rgb(9,9,121);
            background: linear-gradient(180deg, rgba(9,9,121,0) 79%, rgba(0,212,255,1) 100%); */
        }

        .table-content thead tr th {
        
        /* position: sticky;
        top: 0px; */
        top: 0;
    }
        .gradientBottom {
            position: absolute;
            bottom: 0px;
            right: 0;
            width: 50%;
            height: 200px;
            /* background-color: red; */
            /* box-shadow: inset -4px -34px 39px -52px rgba(0, 0, 0, 1); */
        }
    }

    
</style>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet"> -->

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        <title>BATAJ</title>
    </head>
    <body >
            <input id="iteration" value="0" hidden >
        <nav class="navbar">
            <ul class="navbar-list">
                <li>home page</li>
               

            </ul>
        </nav>
        <div class="content" >
            
            <div class="benchmark">

               

                <div class="benchmark-forms" >
                    <h1>Batery benchmark v2.0</h1>

                    <form method="post" id="form_new" >
                        <span class="benchmark-forms-label">typ testu</span>
                        <!-- <select onchange="move_Select()" id="Comment_select">
                            <option value="Cykl kalibracyjny">Cykl kalibracyjny</option>
                            <option value="Test stabilności">Test stabilności</option>
                            <option value="">Inne</option>
                        </select> -->
                        <div class="benchmark-radios" onchange="move_Select()" id="Comment_select">
                            <!-- <div class="benchmark-radio"> -->
                                <input type="radio" id="radio-c" name="benchmark-radio" value="kalibracja" checked>

                                <label tabindex="0" for="radio-c">kalibracja</label>
                            <!-- </div>
                            <div class="benchmark-radio"> -->
                                <input type="radio" id="radio-s" name="benchmark-radio" value="stabilność">

                                <label tabindex="0" for="radio-s">stabilność</label>
                            <!-- </div>

                                <div class="benchmark-radio"> -->
                                <input type="radio" id="radio-other" name="benchmark-radio" value="inne" >

                                <label tabindex="0" for="radio-other">inne</label>
                            <!-- </div> -->
                        </div>
                        <input name="Comment" id="Comment_input" class="hidden" placeholder="wpisz typ testu">      

                        <span class="benchmark-forms-label">numer naprawy</span>    
                        <input class="repair" name="Repair" value="" placeholder="np. 35423" required >
                        <span class="benchmark-forms-label">naładowanie baterii</span>
                        <input class="level" name="Level"  type="number" min="0" max="100" value="100">                                        
                        <span class="benchmark-forms-label">kondycja baterii</span> 
                        <input class="health"name="Health" type="number" min="0" max="100" value="100">                                              
                        <span class="benchmark-forms-label">który cykl</span> 
                        <input class="cycle" name="Cycle"  type="number" min="0" value="0">                                                               
                    


                        <input name="Start" value="" hidden>   
                        <input name="Last" value="" hidden>        
                        <input name="action" value="Start" hidden> 
                        <input type="submit" id="submit_new" value="new" hidden > 
                        <input type="button" value="uruchom test" id="start_button" onclick="runner()">
                                                          
                    </form>
                    <form method="post" id="form_update" hidden >                        
                        <input id="current_id" name="id" value="0">
                        <input name="action" value="Now" hidden>  
                        <input type="submit" id="submit_update" value="update">
                    </form>  
                    <input type="button" id='refresh' value="refresh" hidden>
                    <input id="run"  value="0" hidden>
                    
                    <!-- <input type="" value="Uruchom test" id="start_button" onclick="runner()"> -->

                </div>

                <!-- <div id="button">
                    <input type="button" value="Uruchom test" id="start_button" onclick="runner()">
                </div> -->

                <div class="benchmark-video">
                    <div class="youtube-player">
                        <h1>Youtube Video</h1>
                        <iframe src="https://www.youtube.com/embed/a6GGZ68mOZA" title="seels 10 hours" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="local-player">
                        <h1>Local Video</h1>
                        <video controls loop muted>
                            <source src="seals.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
               
            </div>

            <div class="table">
                <!-- <h1 class="mt-4 mb-4 text-center text-primary"><b>Batmark V2</b></h1> -->
                <!-- <span id="message"></span> -->
                <div class="table-content">
                    <!-- <div class="card-header">
                        <div class="row">
                            <div class="col col-sm-3">
                                <button type="button" id="add_data" class="btn btn-success btn-sm float-end">Add</button>
                            </div>
                        </div>
                    </div> -->
                    <table class="" id="sample_data">
                        <thead>
                            <tr>
                                <!-- <th>id</th>
                                <th>repair</th>
                                <th>health</th>
                                <th>cycle</th>
                                <th>level</th>
                                <th>start</th>
                                <th>last</th>
                                <th>info</th>   -->
                                <th>id</th>
                                <th>status</th>
                                <th>repair</th>
                                <th>health</th>
                                <th>cycle</th>
                                <th>level</th>
                                <th>time</th>

                                <!-- <th>start</th>
                                <th>last</th> -->
                                <th>info</th>  
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="gradientBottom"></div>
                </div>
            </div>
        </div>
    


`

<!-- 
        <div class="modal" tabindex="-1" id="action_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="sample_form">
                <div class="modal-header" id="dynamic_modal_title">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">id</label>
                        <input type="text" name="id" id="id" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Repair</label>
                        <input type="text" name="Repair" id="Repair" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Health</label>
                        <input type="text" name="Health" id="Health" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cycle</label>
                        <input type="text" name="Cycle" id="Cycle" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Start</label>
                        <input type="text" name="Start" id="Start" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last</label>
                        <input type="text" name="Last" id="Last" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Comment</label>
                        <input type="text" name="Comment" id="Comment" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="action" id="action" value="Add" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="action_button">Add</button>
                </div> -->
            </form>
        </div>
    </div>
</div>




<script>
function showHideRow(row) {
    $("#" + row).toggle();
    // console.log(document.getElementsByClassName(`table-id-${row}`), `${row}`)
    document.getElementsByClassName(`table-id-${row}`)[0].parentElement.classList.toggle("active")
}

</script>
<script>
   function move_Select(){
    let coment_radio=document.getElementById("Comment_select")
    let coment_input=document.getElementById("Comment_input")
    if (coment_radio.value == "inne"){
       
        coment_input.value = "a"
    }
    else{
       
    }
        if(document.getElementById('radio-other').checked) {
            document.getElementById("Comment_input").classList.remove("hidden");
            document.getElementById("Comment_input").focus();
            document.getElementById("Comment_input").value = "";
        } 
        else if (document.getElementById('radio-s').checked){
            document.getElementById("Comment_input").classList.add("hidden")
            document.getElementById("Comment_input").value = "Stabolność"
        }
        else if (document.getElementById('radio-c').checked){
            document.getElementById("Comment_input").classList.add("hidden")
            document.getElementById("Comment_input").value = "Kalibracja"
        }
    }
    move_Select();
    
    function runner(){
        var mode = document.getElementById("run")
        var but = document.getElementById("start_button")

        if (mode.value == "1"){
            document.getElementsByClassName('level')[0].disabled = false
            document.getElementsByClassName('health')[0].disabled = false
            document.getElementsByClassName('repair')[0].disabled = false
            document.getElementsByClassName('cycle')[0].disabled = false
            document.getElementById("radio-s").disabled = false
            document.getElementById("radio-c").disabled = false
            document.getElementById("radio-other").disabled = false


            mode.value = 0
            but.style='background-color: red'
            // but.style='font-color: black'
            but.value='Test zakończony, kliknij aby uruchomić ponownie'
        }
        else if (mode.value == "0") {
            document.getElementsByClassName('level')[0].disabled = true
            document.getElementsByClassName('health')[0].disabled = true
            document.getElementsByClassName('repair')[0].disabled = true
            document.getElementsByClassName('cycle')[0].disabled = true
            document.getElementById("radio-s").disabled = true
            document.getElementById("radio-c").disabled = true
            document.getElementById("radio-other").disabled = true



            mode.value = 1
            but.style='background-color: green'
            but.value='Test trwa, kliknij aby zakońćzyć'
            document.getElementById("submit_new").click()
           
            
            timeout = setTimeout(update_id,10000);
            timeout = setTimeout(send,10000);
           
        }
    }

   function update_id(){
    //gets table
var oTable = document.getElementById('sample_data');

//gets rows of table
var rowLength = oTable.rows.length;

//loops through rows    


  //gets cells of current row  
   var oCells = oTable.rows.item(1).cells;

   //gets amount of cells of current row
   var cellLength = oCells.length;

   //loops through each cell in current row
      // get your cell info here

      var cellVal = oCells.item(0).innerHTML;
      document.getElementById("current_id").value = cellVal;
   }

       

    function send(){
       document.getElementById("submit_update").click()
       var i = document.getElementById("iteration").value 
       i++
        document.getElementById("iteration").value = i
       if(document.getElementById("run").value==1){
       timeout = setTimeout(send,3000);
    
    
       }
     
       
    }

    function autoload(){

        document.getElementById('refresh').click()





        timeout = setTimeout(autoload, 60000);
    }
    
    autoload()

     
function dif(strt, now) {
strt = new Date(strt)
now = new Date(now)
var s = strt-now
// Pad to 2 or 3 digits, default is 2
function pad(n, z) {
  z = z || 2;
  return ('00' + n*-1).slice(-z);
}

var ms = s % 1000;
s = (s - ms) / 1000;
var secs = s % 60;
s = (s - secs) / 60;
var mins = s % 60;
var hrs = (s - mins) / 60;

alert(pad(hrs) + ':' + pad(mins) + ':' + pad(secs) + '.' + pad(ms, 3));
}
    
    </script>


<script>

    $(document).ready(function(){
    
        load_data();
    
        // load_data();
    
        function load_data()
        {
            function getRandomDate() {
                const maxDate = Date.now();
                // console.log(maxDate)
                const timestamp = Math.floor(Math.random() * (maxDate - 1685455020000) + 1685455020000);
                const retDate = new Date(timestamp);
                return retDate.setSeconds(0, 0)
            }

            const d = new Date();
            const testTime = getRandomDate();
            const getNowTime = d.setSeconds(0, 0);

            // if (testTime > time)


    
                
            $.ajax({
                url:"http://192.168.2.222:5555/action",
                method:"POST",
                data:{action:'fetch'},
                dataType : "JSON",
                success:function(data)
                {
                    var html = '';
                    console.log(data)
                    if(data.data.length >= 0)
                    {
                        for(var count = 0; count < 20; count++)
                        {
                            console.log(data.data[count].id)
                            html += `
                            <tr onclick="showHideRow('hidden_row${count}');">

                                <td class="table-id table-id-hidden_row${count}">${data.data[count].id}</td>
                                <td class="table-repair">${data.data[count].Last >= getNowTime ? 'on' : 'off'}</td>

                                <td>${data.data[count].Repair}</td>
                                <td>`+data.data[count].Health+`</td>
                                <td>`+data.data[count].Cycle+`</td>
                            
                                <td class="table-info">`+data.data[count].Comment+`</td>
                            </tr>

                            <tr id="hidden_row${count}" class="hidden_row">
                                <td></td>
                                <td colspan=3 class="table-start">${getRandomDate()}</td>

                                <td colspan=4 class="table-last">${getNowTime}</td>
                            </tr>
                    
         
                            
                            `;
                        }
                    }
    
                    $('#sample_data tbody').html(html);
                }
            });
        }
    
        $('#add_data').click(function(){
    
            $('#dynamic_modal_title').text('Add Data');
    
            $('#sample_form')[0].reset();
    
            $('#action').val('Add');
    
            $('#action_button').text('Add');
    
            $('#action_modal').modal('show');
    
        });
    
        $('#sample_form').on('submit', function(event){
    
            event.preventDefault();
    
            $.ajax({
                url:"http://192.168.2.222:5555/action",
                method:"POST",
                data:$('#sample_form').serialize(),
                dataType:"JSON",
                beforeSend:function(){
                    $('#action_button').attr('disabled', 'disabled');
                },
                success:function(data)
                {
                    $('#action_button').attr('disabled', false);
    
                    $('#message').html('<div class="alert alert-success">'+data.message+'</div>');
    
                    $('#action_modal').modal('hide');
                    
                    load_data();
                    alert(data);
                    setTimeout(function(){
                        $('#message').html('');
                    }, 5000);
                }
            });
    
        });
    
        $(document).on('click', '.edit', function(){
    
            var id = $(this).data('id');
    
            $('#dynamic_modal_title').text('Edit Data');
    
            $('#action').val('Edit');
    
            $('#action_button').text('Edit');
    
            $('#action_modal').modal('show');
    
            $.ajax({
                url:"http://192.168.2.222:5555/action",
                method:"POST",
                data:{id:id, action:'fetch_single'},
                dataType:"JSON",
                success:function(data)
                {
                    $('#id').val(data.id);
                    $('#Repair').val(data.Repair);
                    $('#Health').val(data.Health);
                    $('#Cycle').val(data.Cycle);
                    $('#Level').val(data.Level);
                    $('#Start').val(data.Start);
                    $('#Last').val(data.Last);
                    $('#Comment').val(data.Comment);
                }
            });
    
        });
    
        $(document).on('click', '.delete', function(){
    
            var id = $(this).data('id');
    
            if(confirm("Are you sure you want to delete this data?"))
            {
                $.ajax({           
                    url:"http://192.168.2.222:5555/action",
                    method:"POST",
                    data:{action:'delete', id:id},
                    dataType:"JSON",
                    success:function(data)
                    {
                        $('#message').html('<div class="alert alert-success">'+data.message+'</div>');
                        load_data();
                        setTimeout(function(){
                            $('#message').html('');
                        }, 5000);
                    }
                });
            }
    
        });

        
$('#form_new').submit(function(event){
   
        event.preventDefault()

            $('#action').val('Start');

            event.preventDefault();
    
            $.ajax({
                url:"http://192.168.2.222:5555/action",
                method:"POST",
                data:$('#form_new').serialize(),
                dataType:"JSON",
              
                success:function(data)
                {
                    load_data();
                }
            });
    
        });


                
$('#form_update').submit(function(event){
   
   event.preventDefault()

       $('#action').val('Update');

       event.preventDefault();

       $.ajax({
           url:"http://192.168.2.222:5555/action",
           method:"POST",
           data:$('#form_update').serialize(),
           dataType:"JSON",
         
           success:function(data)
           {
           }
       });
       
       load_data();
       

   });
   $(document).on('click', '#refresh', function(){
        load_data()
    });
     
          
            
        





    });
    
   

    </script>


